* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
  font-family: "Gabarito", sans-serif;
  font-family: "Lato", sans-serif;
  position: relative;
}

.nav_top {
  width: 100%;
  height: 160px;
  font-family: "Sora", sans-serif;
  position: fixed;
  z-index: 999;
  background-color: white;
}

.nav_top .holder {
  width: 100%;
  height: 50px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.nav_top .holder .left {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.nav_top .holder .left .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.nav_top .holder .left .contact h3 {
  padding-left: 10px;
}

.nav_top .holder .left .mail {
  display: flex;
  justify-content: end;
  margin-top: 15px;
  padding-left: 70px;
}

.nav_top .holder .left .mail i {
  padding-right: 10px;
}

.nav_top .holder .right {
  width: 35%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 15px;
  color: black;
}

.nav_top .holder .right i {
  color: black;
}

hr {
  width: 90%;
  margin-left: 80px;
}

.nav {
  width: 100%;
  height: 120px;
  padding-top: 10px;
  font-family: "Sora", sans-serif;
}

.nav .holder {
  width: 95%;
  height: 80px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;

  background: white;
}

.nav .holder .left {
  width: 40%;
  display: flex;
  flex-direction: row;
}

.nav .holder .left .slogan {
  padding-top: 15px;
  padding-left: 10px;
}

.nav .holder .right {
  width: 60%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  padding-top: 30px;
}

.nav .holder .right a {
  text-decoration: none;
  color: black;
}

.nav .holder .right a:hover {
  color: blue;
}

.section-a {
  width: 100%;
  padding-top: 15%;
}

.section-a .holder {
  width: 100%;
  height: 180px;
  text-align: center;
  padding-bottom: 15px;
  background-color: #8e8b8b;
}

.section-a .holder h1 {
  font-size: 50px;
  padding-top: 35px;
}

.section-a .holder p {
  font-size: 23px;
  text-align: center;
  padding-top: 20px;
}
.section-a .wrapper {
  width: 100%;
  height: 500px;
  padding-top: 30px;
  background-image: linear-gradient(
      0deg,
      rgba(173, 189, 255, 0.536),
      rgba(33, 87, 138, 0.264)
    ),
    url(../img/inter.webp);
  object-fit: cover;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-a .wrapper .wrap__text {
  width: 90%;
}

.section-a .wrapper .wrap__text h3 {
  text-decoration: underline;
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: 27px;
}

.section-a .wrapper .wrap__text p {
  font-size: 25px;
  text-decoration: dotted;
  padding-left: 30px;
  padding-bottom: 30px;
}

.section-b {
  width: 100%;
}

.section-b .holder {
  width: 90%;
}

.section-b .holder h2 {
  font-size: 45px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-b .wrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.section-b .wrapper .left {
  width: 55%;
  height: 230px;
  padding-left: 30px;
  display: flex;
}

/* .section-b .wrapper .left .netball {
  padding-top: 100px;
   translate: -10px; 
} */

.section-b .wrapper .right {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.section-b .wrapper .right h3 {
  font-size: 35px;
  padding-bottom: 20px;
}

.section-b .wrapper .right p {
  /* padding-bottom: 10px; */
  font-size: 17px;
  display: block;
}

.section-c {
  width: 100%;
  height: 855px;
  /* background-image: url(../img/holiday\ program.jpg);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.section-c .holder {
  width: 90%;
}

.section-c .holder h2 {
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.section-c .wrapper {
  width: 95%;
}
.section-c .wrapper .top {
  width: 90%;
  padding-bottom: 100px;
}
.section-c .wrapper .top p {
  display: block;
  font-size: 25px;
  line-height: 1.4;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 8px;
}

.section-c .wrapper .para {
  padding-left: 170px;
}
.section-c .wrapper .bottom {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-c .wrapper .bottom .left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin-right: 250px;
}

.section-c .wrapper .bottom .right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 250px;
}

.section-c .wrapper .bottom img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  padding-bottom: 100px;
}

.section-c .wrapper .bottom img:hover {
  transform: scale(3);
}

.footer {
  width: 100%;
  height: 250px;
  background-color: blue;
}

.footer .holder {
  width: 95%;
  height: 180px;
  display: flex;
}

.footer .holder .left {
  width: 45%;
  height: 100px;
  margin-left: 250px;
}

.footer .holder .left img {
  width: 170px;
  height: 170px;
  border-radius: 15px;
  margin-top: 20px;
}

.footer .holder .right {
  width: 45%;
  height: 250px;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 40px;
}

.footer .holder .right h2 {
  padding-bottom: 30px;
}

.footer .holder .right .contact {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.footer .holder .right .contact h3 {
  padding-left: 20px;
}
